.page-login{
  background: url('../LAB03/masjidil\ haram\ 5.jpg');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
}
.box{
  width: 30%;
  min-width: 200px;
  height: 70%;
  margin: auto;
  text-align: center;
  padding: 50px 0;
  background-color: rgba(0, 0, 0, .0);
}
.box-inside{
  background-color: white;
  height: 130%;
  width: 100%;
  border-radius: 10px;
}
.image-brand{
  margin-top: 20px;
  height: 75px;
  width: 75px;
}
input{
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.login{
  width: 70%;
  background-color: #5cda36;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.register{
  width: 70%;
  background-color: gray;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button:hover{
  background-color: gray;
}
.separator {
	margin: 20px 0;
	border-top: 1px solid #CCCCCC;
	position: relative;
}
.separator-text {
	display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -22px;
    padding: 0px 10px;
    background: #FFFFFF;
	color: #8a8a8a;
}
.judul{
  font-weight: 200;
  color: gray;
}
.forgot{
  font-weight: 200;
  color: #1e2d49;
}
.forgot:hover{
  color: gray;
}
.socmed-button {
  padding: 10px 25px;
  color: #FFFFFF;
  display: block;
  margin-top: 5px;
  text-align: center;
}
.socmed-button i {
text-align: left;
  border-right: 1px solid #FFFFFF;
  margin-right: 15px;
  width: 25px;
font-size: 16x;
vertical-align: middle;
}
.socmed-button span {
display: inline-block;
  margin-top: 8px;
  line-height: 0;
}
.facebook-button {
background: #3b5998;
}
.facebook-button:hover {
background: #324b80;
}
.google-button {
background: #ef0a0a;
}
.google-button:hover {
background: #d40909;
}
.panduan{
  width: 70%;
  background-color: white;
  color:black;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}
