.page-login{
    background: url('../LAB03/gedung_prasmul.jpg');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .5);
}
.box{
    width: 30%;
    min-width: 400px;
    height: 70%;
    margin: auto;
    text-align: center;
    padding: 50px 0;
    background-color: rgba(0, 0, 0, .0);
}
.box-inside{
    background-color: white;
    height: 120%;
    width: 100%;
    border-radius: 10px;
}
.image-brand{
    margin-top: 20px;
    height: 150px;
    width: 150px;
}
input{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    width: 70%;
    background-color: #1e2d49;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button:hover{
    background-color: gray;
}
.headline1{
    font-weight: 200;
    color: darkgray;
}
.headline2{
    font-weight: 400;
    color: gray;
}
.footline1{
    font-weight: 200;
    color: darkgray;
    font-weight: bold;
}
.footline2{
    font-weight: 400;
    color: #1e2d49;
    font-weight: bold;
}
.footline2:hover{
    color: gray;
}
